<form action="/new" method="POST" class="card bg-dark text-light"> <!-- Establishes form tag using the method 'POST'-->   
    
    <div class="card-body p-4">

        <div class="mb-3">
            <label for="fullname"> Fullname: </label>
            <input type="text" name="fullname" placeholder="Write your fullname" class="form-control rounded-0 
            text-muted bg-light border-0">
        </div>

        <div class="mb-3">"
            <label for="email"> Email: </label>
            <input type="text" name="email" placeholder="Write your email" class="form-control rounded-0 
            text-muted bg-light border-0">
        </div>

        <div class="mb-3">
            <label for="phone"> Phone number: </label>
            <input type="text" name="phone" placeholder="Enter your phone" class="form-control rounded-0 
            text-muted bg-light border-0">
        </div>

        <div class="btn btn-primary">
            <button> save </button>
        </div>

    </div>

</form><!-- Form to place the user info -->