{% extends 'layout.html' %}

{% block body%}

    <h1>About </h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit explicabo voluptate eum, 
        vero modi porro numquam facere ipsa debitis mollitia ea sapiente placeat quae harum! Incidunt a 
        aliquid, molestias quisquam facere ipsum repudiandae distinctio assumenda eligendi quia, non excepturi 
        amet. Illo atque neque nisi blanditiis nobis assumenda in id accusamus, quam, at amet provident ad. 
        Impedit ea explicabo soluta consectetur nesciunt aliquid illum enim. Quas reprehenderit, nulla cupiditate 
        dignissimos delectus provident similique consequuntur libero, ducimus, at eius amet assumenda. Impedit 
        quo doloribus quam, ut eaque dolorum ratione, dicta vitae, vel ea sapiente enim est. Omnis sint dolores 
        vel corporis at.
    </p>

{% endblock %}


