{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form action="/update/{{contact.id}}" method="POST" class="card bg-dark text-white bg">
            <div class="card-body p-4">
                <div class="mb-3">
                    <label for="fullname"> Fullname: </label>
                    <input type="text" name="fullname" placeholder="Write fullname" value="{{contact.fullname}}"
                        class="form-control rounded-0 text-muted bg-light border-0">
                </div>
        
                <div class="mb-3">
                    <label for="email">Email: </label>
                    <input type="text" name="email" placeholder="Write your email" value="{{contact.email}}"
                        class="form-control rounded-0 text-muted bg-light border-0">
                </div>
                <div class="mb-3">
                    <label for="phone">Phone: </label>
                    <input type="text" name="phone" placeholder="Enter your phone" value="{{contact.phone}}"
                        class="form-control rounded-0 text-muted bg-light border-0">
                </div>
        
                <button class="btn btn-primary">
                    update
                </button>
            </div>
        </form>
        
    </div>
</div>

{% endblock %}